@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
      border: none;
      box-sizing: border-box;
  }
  section{
      min-height: 100vh;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      flex-direction: column;
      background-color: #F6E300;
      overflow: hidden;
  
  }

  .justify-content-between{
      justify-content: space-between;
  }
  .d-flex{
    display: flex;
  }
 .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.heading{
font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 72px;
text-align: left;
padding-top: 73px;
padding-bottom: 80px;
text-align: center;

}
.card-heading{
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
padding-bottom: 16px;
}
p{
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
text-align: left

}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 3%;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  height:70%;
  background-color: red;
}


.circle {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  
}


.circle::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  right: -18px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
 right:50%;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}

.right::after {
  left: -18px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.bg-img{
  background-image: url(/assets/image/cheese-burger\ 1.png);
 background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {

  .timeline::after {
  left: 33px;
  }

  .circle {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .circle::before {
  left: 60px;
  }

  .left::after, .right::after {
  left: 15px;
  }

  .right {
  left: 0%;
  }
  .left{
    left: 0%;
  }
}

